<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-royal">

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-chatbubbles" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list class="list-royal">
        <ion-item menu-close href="#/app/home">
          <i class="icon ion-home custom-iconcolor"></i>  Phòng chat chung
        </ion-item>
        <ion-item menu-close href="#/app/friendlist">
          <i class="icon ion-ios-people custom-iconcolor"></i>  Danh sách bạn bè
        </ion-item>
        <ion-item menu-close href="#/app/profile">
          <i class="icon ion-person custom-iconcolor"></i>  Thông tin cá nhân
        </ion-item>
        
      </ion-list>
    </ion-content>
  </ion-side-menu>
  <ion-side-menu side="right">
    <ion-content>
      <ion-list class="list-royal">
        <ion-item menu-close href="#/app/room/all">
          <i class="icon ion-chatboxes custom-iconcolor"></i> Phòng chat chung
        </ion-item>
        <ion-item menu-close href="#/app/room/de">
          <i class="icon ion-chatboxes custom-iconcolor"></i> Phòng chat Đức
        </ion-item>
        <ion-item menu-close href="#/app/room/cz">
          <i class="icon ion-chatboxes custom-iconcolor"></i> Phòng chat Tiệp
        </ion-item>
        <ion-item menu-close href="#/app/room/cz">
          <i class="icon ion-chatboxes custom-iconcolor"></i> Phòng chat Tiệp
        </ion-item>
        <ion-item menu-close href="#/app/room/cz">
          <i class="icon ion-chatboxes custom-iconcolor"></i> Phòng chat Tiệp
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
