<ion-view view-title="Thông tin cá nhân">
    <ion-content>
        <form name="regisForm" novalidate="">
            <div class="item item-input">
                <div class="input-label">
                    Tên
                </div>
                <input ng-model="user.name" name="name" ng-required="true" type="text"/>
            </div>
            <div class="item item-input">
                <div class="input-label">
                    Nick (hiển thị khi )
                </div>
                <input ng-model="user.nick" name="nick" ng-required="true" type="text" disabled="" />
            </div>
            <div class="item item-input">
                <div class="input-label">
                    Mật khẩu
                </div>
                <input ng-model="user.password" name="password" ng-required="true" type="password" />
            </div>
            <div class="item item-input">
                <div class="input-label">
                    Thành phố
                </div>
                <input ng-model="user.city" name="city" ng-required="true" type="text" />
            </div>
            <div class="item item-input">
                <div class="input-label">
                    Ngày sinh
                </div>
                <input placeholder="ngay" ng-model="user.birthdate" name="birthdate" ng-required="true" size="2" type="number"/>
                <input placeholder="thang" ng-model="user.birthmonth" name="birthmonth" ng-required="true" size="2" type="number"/>
                <input placeholder="nam" ng-model="user.birthyear" name="birthyear" ng-required="true" size="4" type="number"/>
            </div>
            <div>
                <p class="item item-input" ng-show="regisForm.name.$error.required">
                    <span style="color:red;">nhập tên</span>
                </p>
                <p class="item item-input" ng-show="regisForm.nick.$error.required"><span style="color:red;">nhập nick (8 kí tự  trở lên)</span></p>
                <p class="item item-input" ng-show="regisForm.city.$error.required"><span style="color:red;">nhập tên thành phố</span></p>
                <p class="item item-input" ng-show="regisForm.birthdate.$error.required || regisForm.birthmonth.$error.required || regisForm.birthyear.$error.required">
                    <span style="color:red;">Nhập ngày sinh</span>
                </p>
            </div>
        <div class="item item-input item-select">
            <div class="input-label">
      			Bạn vui lòng chọn ngôn ngữ
    		</div>
		    <select ng-model="user.language" ng-init="user.language='vn'">
		      <option value="vn">Tiếng Việt</option>
		      <option value="de">Deutsch</option>
		      <option value="en">English</option>
		    </select>
  		</div>
  		<div class="item item-input item-select">
    		<div class="input-label">
      			Chọn quốc gia
    		</div>
		    <select ng-model="user.country" ng-init="user.country='vn'">
		      <option value="vn">Việt Nam</option>
		      <option value="de">Deutschland</option>
		      <option value="pl">Polska</option>
		      <option value="cz">Czech Republic</option>
		      <option value="ru">Russia</option>
		      <option value="hu">Hungary</option>
		    </select>
  		</div>
            <button class="button button-full button-balanced" ng-click="save(user)" ng-disabled="regisForm.$invalid">Tiep tuc</button>
        </form>
    </ion-content>
</ion-view>